/* Style global */
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f4f6f9;
    color: #f7f7f7;
}

/* Conteneur */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

/* Titre */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Carte formation */
.formation {
    background: #979191;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Nom de la formation */
.formation h2 {
    margin-top: 0;
    color: #0d0d0e;
}

/* Description */
.formation p {
    font-size: 15px;
    margin: 10px 0;
}
/* Conteneur des boutons */
.nav {
    text-align: center;
    margin-bottom: 30px;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #3498db;
    border-radius: 6px;
    transition: 0.3s;
}

/* Hover */
.nav a:hover {
    background-color: #2980b9;
}
body {
  margin: 0;
  height: 100vh;

  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1508780709619-79562169bc64");

  background-size: cover;
  background-position: center;
}